Fluid/dat*
Fluid/render
Fluid/fluid.*
Fluid/bodyF.*
Fluid/vortF.*
Fluid/interF.*
Fluid/fort.*
Fluid/*.log
Fluid/lotus
Fluid/lotus.o
res_I/
__pycache__/
precice-run/
animation.py
figure.py
post.py
*.png
Solid/*.12d
Solid/*.cvg
Solid/*.sta
Solid/*.dat
Solid/spooles.out
Solid/*.pvd
Solid/data
Solid/*log
Solid*.json
